


.blog-img {
    background-size: cover;
    background-position: center;
    padding-top: 75%;
  }
  .blog-meta {
    background-color: #ff3636;
    color: #fff;
    justify-content: center;
    display: flex;
    gap: 15px;
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 7px;
    margin-top: -25px;
  }
  .blog-content {
    margin: 20px 0;
  }